@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Transcend';
  src: url('./../assets//Transcend-Font-Family/Transcend-Font-Family/Transcend Semibold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
.portfolio {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.portfolio-top {
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.portfolio-top .overlay {
    padding: 20px;
    border-radius: 10px;
}
  
.portfolio-top h1 {
    color: #E1BB2B;
    text-transform: uppercase;
    font-size: 68px;
    font-weight: 700;
    font-family: Transcend;
    line-height: 69px;
    margin-bottom: 20px;
  }
  
  .portfolio-top p {
    color: white;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    font-family: Poppins;
    width: 60%;
    margin: 0 auto;
  }
  
  .portfolio-top .swagat-moto {
    font-style: italic;
    margin-top: 2px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    font-family: Poppins;
    margin-bottom: 0;
  }

.portfolio-data {
    background-color: #000;
    padding: 50px 0;
    position: relative;
}

.portfolio-image-grid {
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
}

.portfolio-image-container {
    display: inline-block;
    position: relative;
    width: 319.19px;
    height: 384.95px;
    transition: transform 0.5s ease-in;
}

.portfolio-image-container:hover {
    transform: scale(1.1);
}

.portfolio-image, .portfolio-color-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.artist-name {
    background: #FBD88D;
    color: white;
    padding: 5px 40px;
    font-size: 20px;
    position: absolute;
    transform: rotate(-45deg);
    top: 4%;
    left: -15%;
    border-radius: 8px;
    z-index: 100;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.left-tilt {
    transform: rotate(-7.92deg);
    position: relative;
    top: 0px;
}

.right-tilt {
    transform: rotate(7.92deg);
    position: relative;
    top: 0px;
}

.portfolio-image-hovered.right-tilt {
    transform: rotate(20deg);
    filter: none;
}

.portfolio-image-hovered.left-tilt {
    transform: rotate(-20deg);
    filter: none;
}

.portfolio-image-hovered .artist-name {
    opacity: 1;
    visibility: visible;
}

.portfolio-description {
    color: #fff;
    text-align: center;
    width: 85%;
    margin: 10px auto;
    line-height: 27px;
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins;
}

.portfolio-tabs {
    width: 95%;
    margin: 10px auto;
}

.portfolio-tabs-container .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.portfolio-tab {
    padding: 10px 0;
    margin-right: 90px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    color: #FBD88D;
    font-size: 31px;
    font-weight: 600;
    font-family: Poppins;
    line-height: 46.5px;
}

.portfolio-tab.active {
    border-bottom: 3px solid white;
}

.portfolio-tabs-description p {
    padding: 5px 10px;
}

.portfolio-tabs-carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95vw;
    margin: 20px auto;
    align-items: start;
    height: 900px;
}

.vertical-row-1, .vertical-row-2, .vertical-row-3 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 97%;
}

.vertical-row-1 .portfolio-tabs-carousel-item:nth-child(3), .vertical-row-3 .portfolio-tabs-carousel-item:nth-child(3) {
    top: -72px;
}

.vertical-row-2 .portfolio-tabs-carousel-item:nth-child(3){
    top: -50px;
}

.vertical-row-2 .portfolio-tabs-carousel-item:nth-child(5){
    top: -90px;
}

.vertical-row-1 .caption:nth-child(4){
    bottom: 18%;
}

.vertical-row-2 .caption:nth-child(2){
    bottom: 8%;
}

.vertical-row-2 .caption:nth-child(4){
    bottom: 14%;
}

.vertical-row-2 .caption:nth-child(6){
    bottom: 18%;
}

.vertical-row-3 .caption:nth-child(4){
    bottom: 18%;
}

.portfolio-tabs-carousel-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.portfolio-tabs-carousel-item img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.portfolio-tabs-carousel-item .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 92%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: transform 0.3s ease;
}

.portfolio-tabs-carousel-item:hover img {
    transform: scale(1.1);
}

.portfolio-tabs-carousel-item:hover .dark-overlay {
    transform: scale(1.1);
}

.caption {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    bottom: 10%;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    font-size: 31px;
    font-weight: 600;
    line-height: 46.5px;
    font-family: Poppins;
    z-index: 1000;
}

.portfolio-clients {
    padding: 5px 50px;
    margin: 60px auto;
  }
  
  .portfolio-clients h2 {
    color: #E1BB2B;
    font-size: 48px;
    font-weight: 600;
    font-family: Transcend;
    line-height: 57.6px;
    margin-bottom: 50px;
    margin-left: 50px;
  }
  
  .carousel {
    overflow: hidden;
    position: relative;
    width:90%;
  }
  
  .carousel-track {
    display: flex;
    width: calc(350px * 10); /* Adjust width based on the number of images */
    height: 400px;
    animation: scroll 20s linear infinite;
  }
  
  .carousel-track img {
    width: 100%; /* Ensure all images are the same width for smooth scrolling */
    height: 100%;
    margin: 0 10px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 5 - 50px)); /* Adjust to scroll the correct amount */
    }
  }



  .portfolio-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background: white;
    padding: 40px 70px;
    outline: none;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    z-index: 10000000;
  }
  
  .portfolio-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10000000000;
  }
  
  .portfolio-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .portfolio-close-button img{
    width: 20px;
    height: 20px;
  }

  .carousel-status{
    left: 90% !important;
  }

  .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before{
    color: black !important;
  }

  .carousel .slide img{
    width: 80% !important;
  }


  .carousel.carousel-slider .control-arrow{
    background: white !important;
  }

  .carousel.carousel-slider .control-arrow:hover{
    background: white !important;
  }

  .carousel .control-arrow, .carousel.carousel-slider .control-arrow{
    opacity: 1 !important;
  }

  .carousel .control-next.control-arrow:before{
    border-left: 15px solid black !important;
  }

  .carousel .control-prev.control-arrow:before{
    border-right: 15px solid black !important;
  }

  .carousel .control-arrow, .carousel.carousel-slider .control-arrow:hover{
    opacity: 0.5 !important;
  }

  .carousel .control-arrow, .carousel.carousel-slider .control-arrow:hover{
    opacity: 0.5 !important;
  }