@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Transcend';
  src: url('./../assets//Transcend-Font-Family/Transcend-Font-Family/Transcend Semibold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

.what-we-do {
    text-align: center;
    padding: 30px 0;
    background-color: #0c0c0c; /* Set background color */
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('./../assets/what-we-do-bg-1.png');
    background-size: cover;
    background-position: center;
}

.what-we-do-heading {
    color: #E1BB2B;
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 69px;
    font-family: Transcend;
}

.what-we-do-description {
    color: white;
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    font-family: Poppins;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.what-we-do-image-container {
    margin: 0 10px;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.what-we-do-image-container img {
    width: 290px;
    height: 430px;
    transition: transform 0.5s ease; /* Smooth transition for hover effect */
}

.what-we-do-image-container img:hover {
    transform: scale(1.1); /* Scale up on hover */
}

.event-type-heading {
    color: white;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    margin: 15px auto;
    text-transform: uppercase;
}

.know-more {
    margin-bottom: 30px;
}

.know-more a {
    color: #DEB869;
    text-decoration: underline;
    margin-right: 10px;
    font-size: 22px;
    font-weight: 300;
    line-height: 26.4px;
    font-family: Poppins;
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for hover effect */
}

.know-more .arrow {
    color: #DEB869;
    font-size: 22px;
    font-weight: 300;
    line-height: 26.4px;
    font-family: Poppins;
    display: inline-block; /* Ensure it's a block-level element */
    transform: rotate(-45deg); /* Rotate the arrow */
    text-decoration: none !important;
}

.know-more a:hover, .know-more a:hover + .arrow{
    color: rgb(175, 175, 6);
    text-decoration: none;
}
